header {
    padding: 1rem $gutter;
    h1 {font-size: 2rem;}
}

header {
    grid-template-columns: 94px auto auto;
}


nav {
    button{display: none;}
    justify-self: end;
    width: 200px;
    ul, ul.open {
        position: relative;
        display: flex;
        margin: 0;
        width: auto;
    }

    ul li a {
        border-radius: 50px;
        margin: 0 .5rem;
    }
}



//create for loop
@for $i from 1 through 12 {
    $w: calc($i / 12) *100%;
    .medium-#{$i} {flex-basis: $w;}
}
