$primaryColor: #F6BB31;
$navColor: #404040;
$secondaryColor: #B1C9BC;
$fontColor: #404040;
$backgroundColor: #E4E4E4;
$accentColor: #C8C6AF;

$defaultFont: "Barlow", sans-serif;
$headingFont: "Libre Bodoni", serif;
$lightWeight: 300;
$normalWeight: 400;
$boldWeight: 700;

$gutter: 16px;